<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grab UI</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../grab-ui.css">
    <link rel="stylesheet" href="../Images/images.css">
    <link rel="icon" href="/Logos/favi_logo.png" type="image/gif" sizes="16x16">
</head>

<body>
    <section id="page">
        <header class="header">
            <nav class="navbar">
                <a href="/index.html" class="nav__logo">Grab UI</a>
                <ul class="nav__menu">
                    <li class="nav__item">
                        <a href="/index.html" class="nav__link">Home</a>
                    </li>
                    <li class="nav__item desktop__menu">
                        <a href="../Avatar/avatar.html" class="nav__link">Components</a>
                    </li>
                    <li class="nav__item">
                        <a href="../get_started.html" class="nav__link">Get Started</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a href="../Avatar/avatar.html"
                        class="nav__link">Avatar</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a href="../Badge/badge.html" class="nav__link">Badge</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a href="../Alerts/alerts.html" class="nav__link">Alerts</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a class="nav__link" href="../Button/button.html">Button</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a class="nav__link" href="../Cards/cards.html">Cards</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a  class="nav__link" href="../Images/images.html">Images</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a   class="nav__link" href="../Inputs/input.html">Input</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a class="nav__link" href="../Lists/list.html">List</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a class="nav__link" href="../Navigation/navigation.html">Navigation</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a  class="nav__link" href="../Modal/modal.html">Modal</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a  class="nav__link" href="../Rating/rating.html">Rating</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a  class="nav__link" href="../Grid/grid.html">Grid</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a  class="nav__link" href="../Typography/typography.html">Typography</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a  class="nav__link" href="../Toast/toast.html">Toast</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a  class="nav__link" href="/index.html#contact">Contact</a>
                    </li>
                    <li class="nav__item">
                        <a href="/index.html#contact" class="nav__link">Contact</a>
                    </li>
                </ul>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </nav>
        </header>
        <nav class="navigation" >
            <div class="nav__components">
                <a id="nav__components" class="nav_getStarted" href="../get_started.html">Get Started</a>
                <a id="nav__components" class="nav_avatar" href="../Avatar/avatar.html">Avatar</a>
                <a id="nav__components" class="nav__badge" href="../Badge/badge.html">Badge</a>
                <a id="nav__components" class="nav__alerts" href="../Alerts/alerts.html">Alerts</a>
                <a id="nav__components" class="nav__button" href="../Button/button.html">Button</a>
                <a id="nav__components" class="nav__cards" href="../Cards/cards.html">Cards</a>
                <a id="nav__components" class="nav__images active" href="../Images/images.html">Images</a>
                <a id="nav__components"  class="nav__alerts" href="../Inputs/input.html">Input</a>
                <a id="nav__components"  class="nav__alerts" href="../Lists/list.html">List</a>
                <a id="nav__components"  class="nav__navigation" href="../Navigation/navigation.html">Navigation</a>
                <a id="nav__components"  class="nav__modal" href="../Modal/modal.html">Modal</a>
                <a id="nav__components"  class="nav__rating" href="../Rating/rating.html">Rating</a>
                <a id="nav__components"  class="nav__grids" href="../Grid/grid.html">Grid</a>
                <a id="nav__components"  class="nav__typography" href="../Typography/typography.html">Typography</a>
                <a id="nav__components"  class="nav__toast" href="../Toast/toast.html">Toast</a>
            </div>
        </nav>
        <main class="main">
            <div class="main__components">
                <div class="components">
                    <h1 class="heading" id="comp__avatar">Responsive Images</h1>
                    <p class="para--lead">Images given below are responsive so that they can be accomodated properly in
                        screens of different sizes.
                    </p>
                    <p class="para">In order to see the live demo, you could expand or shrink your screen size.</p>
                    <h2 class="heading--sub">Responsive Card Image</h2>
                    <br />
                    <img class="image"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAk7KuaE0SPiI78uVBu-Yl4WYi1hwpRgmKpg&usqp=CAU"
                        alt="pic">
                    <br />
                    <br />
                    <h2 class="heading--sub">Responsive rounded images</h2>
                    <br />
                    <img class="rounded-img"
                        src="https://assets-global.website-files.com/5ec7dad2e6f6295a9e2a23dd/5edfa7c6f978e75372dc332e_profilephoto1.jpeg"
                        alt="pic" />
                    <div class="code__container">
                        <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28196%2C210%2C221%2C1%29&t=paraiso-dark&wt=sharp&l=htmlmixed&ds=true&dsyoff=20px&dsblur=54px&wc=true&wa=false&pv=3px&ph=1px&ln=false&fl=1&fm=Hack&fs=13.5px&lh=95%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2520%253Cimg%2520class%253D%2522image%2522%2520src%253D%2522%2522%2520alt%253D%2522img%2522%2520%252F%253E%2520%250A%2520%2520%2520%2520%253Cimg%2520class%253D%2522rounded-img%2522%2520src%253D%2522%2522%2520alt%253D%2522pic%2522%2520%252F%253E"
                        style="width: 676px; height: 105px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                      </iframe>
                    </div>
                </div>
            </div>
        </main>
    </section>
</body>
<script src="/grab-ui.js"></script>

</html>