
.heading{
    font-family: 'Sora',sans-serif ;
    font-weight:800;
    padding:1rem 0 ;
}
.heading + .centered__heading{
    text-align: center;
}

.sub__heading + .centered__sub__heading{
    text-align: center;
}

/* .para + .grey__text{
    color:rgb(173, 172, 172);
} */

#grey__text{
    color:rgb(121, 120, 120);
}
.fs-h1{
    font-size: var(--fs-h1);
}

.fs-h2{
    font-size: var(--fs-h2);
}

.fs-h3{
    font-size: var(--fs-h3);
}

.fs-h4{
    font-size: var(--fs-h4);
}

.fs-h5{
    font-size: var(--fs-h5);
}

.fs-h6{
    font-size: var(--fs-h6);
}