<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grab UI</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../grab-ui.css">
    <link rel="stylesheet" href="../Grid/grid.css">
    <link rel="icon" href="/Logos/favi_logo.png" type="image/gif" sizes="16x16">
</head>

<body>
    <section id="page">
        <header class="header">
            <nav class="navbar">
                <a href="/index.html" class="nav__logo">Grab UI</a>
                <ul class="nav__menu">
                    <li class="nav__item">
                        <a href="/index.html" class="nav__link">Home</a>
                    </li>
                    <li class="nav__item desktop__menu">
                        <a href="../Avatar/avatar.html" class="nav__link">Components</a>
                    </li>
                    <li class="nav__item">
                        <a href="../get_started.html" class="nav__link">Get Started</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a href="../Avatar/avatar.html"
                        class="nav__link">Avatar</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a href="../Badge/badge.html" class="nav__link">Badge</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a href="../Alerts/alerts.html" class="nav__link">Alerts</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a class="nav__link" href="../Button/button.html">Button</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a class="nav__link" href="../Cards/cards.html">Cards</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a  class="nav__link" href="../Images/images.html">Images</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a   class="nav__link" href="../Inputs/input.html">Input</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a class="nav__link" href="../Lists/list.html">List</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a class="nav__link" href="../Navigation/navigation.html">Navigation</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a  class="nav__link" href="../Modal/modal.html">Modal</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a  class="nav__link" href="../Rating/rating.html">Rating</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a  class="nav__link" href="../Grid/grid.html">Grid</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a  class="nav__link" href="../Typography/typography.html">Typography</a>
                    </li>
                    <li class="nav__item">
                        <a href="/index.html#contact" class="nav__link">Contact</a>
                    </li>
                </ul>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </nav>
        </header>
        <nav class="navigation" >
            <div class="nav__components">
                <a id="nav__components" class="nav_getStarted" href="../get_started.html">Get Started</a>
                <a id="nav__components" class="nav_avatar" href="../Avatar/avatar.html">Avatar</a>
                <a id="nav__components" class="nav__badge" href="../Badge/badge.html">Badge</a>
                <a id="nav__components" class="nav__alerts" href="../Alerts/alerts.html">Alerts</a>
                <a id="nav__components" class="nav__button" href="../Button/button.html">Button</a>
                <a id="nav__components" class="nav__cards" href="../Cards/cards.html">Cards</a>
                <a id="nav__components" class="nav__images" href="../Images/images.html">Images</a>
                <a id="nav__components"  class="nav__input" href="../Inputs/input.html">Input</a>
                <a id="nav__components"  class="nav__list" href="../Lists/list.html">List</a>
                <a id="nav__components"  class="nav__navigation" href="../Navigation/navigation.html">Navigation</a>
                <a id="nav__components"  class="nav__modal" href="../Modal/modal.html">Modal</a>
                <a id="nav__components"  class="nav__rating" href="../Rating/rating.html">Rating</a>
                <a id="nav__components"  class="nav__grids active" href="../Grid/grid.html">Grid</a>
                <a id="nav__components"  class="nav__typography" href="../Typography/typography.html">Typography</a>
            </div>
        </nav>
        <main class="main">
            <div class="main__components">
                <div class="components">
                    <h1 class="heading" id="comp__avatar">Grid</h1>
                    <p class="para__lead">The CSS Grid Layout Module offers a grid-based layout system, with rows and
                        columns, making it easier to design web pages.
                    </p>
                    <!-- <p class="para"></p> -->
                    <h2 class="sub__heading">Grid with 2 columns</h2>
                    <br/>
                    <div class="two__columed__grid">
                        <div class="grid__item">One</div>
                        <div class="grid__item">Two</div>
                    </div>
                    <br />
                    <br />
                    <div class="code__container">
                        <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28196%2C210%2C221%2C1%29&t=paraiso-dark&wt=sharp&l=htmlmixed&ds=true&dsyoff=20px&dsblur=54px&wc=true&wa=false&pv=3px&ph=1px&ln=false&fl=1&fm=Hack&fs=13.5px&lh=95%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522two__columed__grid%2522%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522grid__item%2522%253EOne%253C%252Fdiv%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522grid__item%2522%253ETwo%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
                        style="width: 676px; height: 131px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                    </div>
                    <br/>
                    <h2 class="sub__heading">Grid with 3 columns</h2>
                    <br/>
                    <div class="three__columed__grid">
                        <div class="grid__item">One</div>
                        <div class="grid__item">Two</div>
                        <div class="grid__item">Three</div>
                    </div>
                    <br />
                    <br />
                    <div class="code__container">
                        <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28196%2C210%2C221%2C1%29&t=paraiso-dark&wt=sharp&l=htmlmixed&ds=true&dsyoff=20px&dsblur=54px&wc=true&wa=false&pv=3px&ph=1px&ln=false&fl=1&fm=Hack&fs=13.5px&lh=95%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522three__columed__grid%2522%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522grid__item%2522%253EOne%253C%252Fdiv%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522grid__item%2522%253ETwo%253C%252Fdiv%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522grid__item%2522%253EThree%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
                        style="width: 676px; height: 143px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                    </div>
                    <br/>
                    <h2 class="sub__heading">Grid Layout for webpage</h2>
                    <br/>
                    <section id="page__layout">
                        <header>Header</header>
                        <nav>Navigation</nav>
                        <main>Main area</main>
                        <footer>Footer</footer>
                    </section>
                    <br />
                    <br />
                    <div class="code__container">
                        <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28196%2C210%2C221%2C1%29&t=paraiso-dark&wt=sharp&l=htmlmixed&ds=true&dsyoff=20px&dsblur=54px&wc=true&wa=false&pv=3px&ph=1px&ln=false&fl=1&fm=Hack&fs=13.5px&lh=95%25&si=false&es=2x&wm=false&code=%253Csection%2520id%253D%2522page__layout%2522%253E%250A%2520%2520%2520%2520%253Cheader%253EHeader%253C%252Fheader%253E%250A%2520%2520%2520%2520%253Cnav%253ENavigation%253C%252Fnav%253E%250A%2520%2520%2520%2520%253Cmain%253EMain%2520area%253C%252Fmain%253E%250A%2520%2520%2520%2520%253Cfooter%253EFooter%253C%252Ffooter%253E%250A%253C%252Fsection%253E"
                        style="width: 676px; height: 155px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                    </div>
                </div>
            </div>
        </main>
    </section>
</body>
<script src="/grab-ui.js"></script>

</html>