@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
:root{
    --primary-color:#d90429;
    --border-color:#14213d;
    --background-color:#fff5f7;
    --ow-font-color:#fff5f7;
    --font-color:#320109;
    /* --secondary-color:#14213d; */
    /* --ow-font-color:#edf2f4; */
    /* --font-color:#2b2d42; */
    /* --border-color:#2b2d42;   */
}
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}


main{    
background-color: #FFF;
background-image: url("data:image/svg+xml,%3Csvg xlink='http://www.w3.org/1999/xlink' viewBox='0 0 6400 4800' xmlns='http://www.w3.org/2000/svg' style='transform: scale(1)%3B'%3E%3Cdefs%3E%3Cfilter id='goo'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='0' result='blur'%3E%3C/feGaussianBlur%3E%3CfeColorMatrix in='blur' type='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 19 -9' result='good'%3E%3C/feColorMatrix%3E%3CfeComposite in='SourceGraphic' in2='goo' operator='atop'%3E%3C/feComposite%3E%3C/filter%3E%3Cpath d='M274 155C311 166 282 230 284 241C287 252 346 288 321 317C294 344 252 288 241 284C228 281 162 306 155 274C147 244 215 236 224 226C234 216 243 146 274 155z' id='P0'%3E%3C/path%3E%3Cpath d='M363 287C354 316 278 280 269 285C260 290 250 374 213 363C184 354 220 278 215 269C210 260 126 250 137 213C146 184 222 220 233 214C242 209 258 126 287 137C316 146 280 222 286 233C291 242 374 258 363 287z' id='P1'%3E%3C/path%3E%3Cpath d='M239 161C256 157 259 216 266 220C272 223 321 191 331 212C340 227 285 248 283 256C283 263 328 300 312 316C300 328 263 283 254 284C248 285 227 340 207 329C191 321 223 272 219 264C216 259 157 256 162 233C164 216 220 231 227 225C231 220 216 164 239 161z' id='P2'%3E%3C/path%3E%3Cpath d='M293 172C323 190 284 239 284 250C284 261 326 305 298 325C268 343 243 285 234 280C222 273 160 279 161 250C161 221 221 229 232 221C243 215 268 157 293 172z' id='P3'%3E%3C/path%3E%3Cpath d='M232 288C222 284 229 265 227 258C225 252 207 242 212 232C216 222 235 229 241 227C247 225 255 207 268 212C278 216 271 235 273 241C275 247 293 255 288 268C284 278 265 271 259 273C253 275 245 293 232 288z' id='P4'%3E%3C/path%3E%3Cpath d='M308 170C324 180 281 230 284 239C287 245 352 256 344 281C339 299 278 274 271 279C266 283 275 349 250 349C231 350 236 284 229 279C223 275 164 305 156 281C149 263 213 248 216 239C218 232 171 185 192 170C207 158 241 214 250 214C257 214 288 155 308 170z' id='P5'%3E%3C/path%3E%3Cpath d='M346 197C366 235 289 260 282 270C275 281 293 357 250 360C207 358 222 279 217 268C210 255 137 221 157 191C176 161 235 213 250 212C265 213 330 165 346 197z' id='P6'%3E%3C/path%3E%3Cpath d='M346 275C341 300 266 265 260 268C255 271 250 353 225 346C200 341 235 266 232 260C229 255 147 250 154 225C159 200 234 235 240 232C245 229 250 147 275 154C300 159 265 234 268 240C271 245 353 250 346 275z' id='P7'%3E%3C/path%3E%3Cpath d='M360 243C362 264 287 262 282 270C279 277 317 342 290 352C271 361 250 289 241 287C233 285 183 342 165 320C151 305 213 262 212 252C211 245 142 215 157 191C167 172 227 218 236 215C243 212 250 137 277 143C298 147 273 218 279 226C284 231 358 215 360 243z' id='P8'%3E%3C/path%3E%3Cpath d='M336 195C356 230 288 257 282 268C276 278 296 347 256 352C217 353 225 280 219 270C212 257 144 230 161 201C177 172 234 215 248 214C262 213 319 167 336 195z' id='P9'%3E%3C/path%3E%3Cpath d='M181 237C184 219 226 230 232 226C239 221 241 178 263 181C281 184 270 226 275 234C280 240 323 245 319 263C316 281 274 270 266 275C260 280 255 323 237 319C219 316 230 274 225 266C220 260 177 255 181 237z' id='P10'%3E%3C/path%3E%3Cpath d='M292 161C309 168 277 225 281 233C285 239 350 237 347 262C346 281 282 268 276 274C272 280 293 341 268 346C250 351 243 286 235 282C228 280 176 319 164 297C154 281 214 255 215 246C215 239 162 201 179 183C191 168 234 217 243 215C250 213 269 151 292 161z' id='P11'%3E%3C/path%3E%3C/defs%3E%3Cg id='group' fill='%23FFFFFF' filter=''%3E%3Cuse x='61' y='-91' href='%23P3'%3E%3C/use%3E%3Cuse x='4' y='452' href='%23P3'%3E%3C/use%3E%3Cuse x='153' y='1361' href='%23P8'%3E%3C/use%3E%3Cuse x='138' y='1690' href='%23P5'%3E%3C/use%3E%3Cuse x='-136' y='2099' href='%23P5'%3E%3C/use%3E%3Cuse x='-67' y='2540' href='%23P10'%3E%3C/use%3E%3Cuse x='228' y='2915' href='%23P0'%3E%3C/use%3E%3Cuse x='-68' y='3575' href='%23P5'%3E%3C/use%3E%3Cuse x='143' y='4047' href='%23P7'%3E%3C/use%3E%3Cuse x='-34' y='4643' href='%23P0'%3E%3C/use%3E%3Cuse x='473' y='-19' href='%23P4'%3E%3C/use%3E%3Cuse x='528' y='916' href='%23P7'%3E%3C/use%3E%3Cuse x='435' y='1160' href='%23P3'%3E%3C/use%3E%3Cuse x='294' y='1531' href='%23P0'%3E%3C/use%3E%3Cuse x='407' y='2341' href='%23P4'%3E%3C/use%3E%3Cuse x='715' y='2741' href='%23P10'%3E%3C/use%3E%3Cuse x='466' y='3134' href='%23P10'%3E%3C/use%3E%3Cuse x='405' y='3823' href='%23P9'%3E%3C/use%3E%3Cuse x='599' y='4194' href='%23P10'%3E%3C/use%3E%3Cuse x='611' y='5000' href='%23P3'%3E%3C/use%3E%3Cuse x='1315' y='101' href='%23P1'%3E%3C/use%3E%3Cuse x='1159' y='348' href='%23P0'%3E%3C/use%3E%3Cuse x='1279' y='1013' href='%23P3'%3E%3C/use%3E%3Cuse x='906' y='1876' href='%23P6'%3E%3C/use%3E%3Cuse x='1113' y='1979' href='%23P7'%3E%3C/use%3E%3Cuse x='890' y='2567' href='%23P2'%3E%3C/use%3E%3Cuse x='1358' y='3466' href='%23P9'%3E%3C/use%3E%3Cuse x='912' y='3849' href='%23P1'%3E%3C/use%3E%3Cuse x='1342' y='4365' href='%23P9'%3E%3C/use%3E%3Cuse x='986' y='4857' href='%23P11'%3E%3C/use%3E%3Cuse x='1405' y='-41' href='%23P9'%3E%3C/use%3E%3Cuse x='1883' y='656' href='%23P2'%3E%3C/use%3E%3Cuse x='1785' y='941' href='%23P3'%3E%3C/use%3E%3Cuse x='1832' y='1743' href='%23P6'%3E%3C/use%3E%3Cuse x='1332' y='2256' href='%23P10'%3E%3C/use%3E%3Cuse x='1459' y='2413' href='%23P11'%3E%3C/use%3E%3Cuse x='1539' y='3341' href='%23P2'%3E%3C/use%3E%3Cuse x='1481' y='3723' href='%23P6'%3E%3C/use%3E%3Cuse x='1701' y='4503' href='%23P4'%3E%3C/use%3E%3Cuse x='1468' y='4895' href='%23P9'%3E%3C/use%3E%3Cuse x='2145' y='-153' href='%23P5'%3E%3C/use%3E%3Cuse x='2214' y='562' href='%23P9'%3E%3C/use%3E%3Cuse x='2367' y='1037' href='%23P11'%3E%3C/use%3E%3Cuse x='2157' y='1726' href='%23P5'%3E%3C/use%3E%3Cuse x='1994' y='2320' href='%23P10'%3E%3C/use%3E%3Cuse x='2219' y='2805' href='%23P2'%3E%3C/use%3E%3Cuse x='2199' y='3116' href='%23P6'%3E%3C/use%3E%3Cuse x='1997' y='3779' href='%23P6'%3E%3C/use%3E%3Cuse x='2081' y='4173' href='%23P6'%3E%3C/use%3E%3Cuse x='2327' y='4939' href='%23P5'%3E%3C/use%3E%3Cuse x='2674' y='167' href='%23P11'%3E%3C/use%3E%3Cuse x='2580' y='551' href='%23P4'%3E%3C/use%3E%3Cuse x='2755' y='1078' href='%23P5'%3E%3C/use%3E%3Cuse x='2491' y='1486' href='%23P1'%3E%3C/use%3E%3Cuse x='2434' y='2409' href='%23P9'%3E%3C/use%3E%3Cuse x='2774' y='2843' href='%23P10'%3E%3C/use%3E%3Cuse x='2563' y='3147' href='%23P1'%3E%3C/use%3E%3Cuse x='2782' y='3732' href='%23P7'%3E%3C/use%3E%3Cuse x='2950' y='4549' href='%23P3'%3E%3C/use%3E%3Cuse x='2737' y='4815' href='%23P10'%3E%3C/use%3E%3Cuse x='3050' y='118' href='%23P9'%3E%3C/use%3E%3Cuse x='3424' y='693' href='%23P6'%3E%3C/use%3E%3Cuse x='3326' y='749' href='%23P7'%3E%3C/use%3E%3Cuse x='3076' y='1417' href='%23P6'%3E%3C/use%3E%3Cuse x='3315' y='1992' href='%23P9'%3E%3C/use%3E%3Cuse x='3427' y='2494' href='%23P3'%3E%3C/use%3E%3Cuse x='3428' y='3520' href='%23P10'%3E%3C/use%3E%3Cuse x='3271' y='3948' href='%23P4'%3E%3C/use%3E%3Cuse x='3251' y='4524' href='%23P10'%3E%3C/use%3E%3Cuse x='3344' y='4949' href='%23P9'%3E%3C/use%3E%3Cuse x='3593' y='-19' href='%23P7'%3E%3C/use%3E%3Cuse x='3752' y='484' href='%23P5'%3E%3C/use%3E%3Cuse x='3529' y='785' href='%23P3'%3E%3C/use%3E%3Cuse x='3785' y='1580' href='%23P6'%3E%3C/use%3E%3Cuse x='3824' y='1896' href='%23P11'%3E%3C/use%3E%3Cuse x='3798' y='2984' href='%23P2'%3E%3C/use%3E%3Cuse x='3607' y='3294' href='%23P0'%3E%3C/use%3E%3Cuse x='3529' y='3801' href='%23P11'%3E%3C/use%3E%3Cuse x='3619' y='4405' href='%23P0'%3E%3C/use%3E%3Cuse x='3627' y='4740' href='%23P9'%3E%3C/use%3E%3Cuse x='4017' y='5' href='%23P6'%3E%3C/use%3E%3Cuse x='4133' y='570' href='%23P0'%3E%3C/use%3E%3Cuse x='4419' y='977' href='%23P5'%3E%3C/use%3E%3Cuse x='4513' y='1781' href='%23P6'%3E%3C/use%3E%3Cuse x='4092' y='2353' href='%23P8'%3E%3C/use%3E%3Cuse x='4235' y='2673' href='%23P10'%3E%3C/use%3E%3Cuse x='4007' y='3237' href='%23P6'%3E%3C/use%3E%3Cuse x='4063' y='3790' href='%23P2'%3E%3C/use%3E%3Cuse x='4138' y='4558' href='%23P8'%3E%3C/use%3E%3Cuse x='4060' y='4765' href='%23P11'%3E%3C/use%3E%3Cuse x='4633' y='-214' href='%23P4'%3E%3C/use%3E%3Cuse x='4686' y='632' href='%23P6'%3E%3C/use%3E%3Cuse x='4606' y='891' href='%23P10'%3E%3C/use%3E%3Cuse x='4973' y='1343' href='%23P11'%3E%3C/use%3E%3Cuse x='4731' y='2210' href='%23P9'%3E%3C/use%3E%3Cuse x='4992' y='2660' href='%23P7'%3E%3C/use%3E%3Cuse x='4844' y='3371' href='%23P5'%3E%3C/use%3E%3Cuse x='4837' y='3991' href='%23P1'%3E%3C/use%3E%3Cuse x='4526' y='4278' href='%23P8'%3E%3C/use%3E%3Cuse x='4873' y='4826' href='%23P3'%3E%3C/use%3E%3Cuse x='5140' y='35' href='%23P8'%3E%3C/use%3E%3Cuse x='5069' y='345' href='%23P9'%3E%3C/use%3E%3Cuse x='5124' y='1099' href='%23P3'%3E%3C/use%3E%3Cuse x='5227' y='1727' href='%23P8'%3E%3C/use%3E%3Cuse x='5301' y='2163' href='%23P1'%3E%3C/use%3E%3Cuse x='5485' y='2650' href='%23P2'%3E%3C/use%3E%3Cuse x='5589' y='3169' href='%23P0'%3E%3C/use%3E%3Cuse x='5273' y='3685' href='%23P4'%3E%3C/use%3E%3Cuse x='5132' y='4405' href='%23P6'%3E%3C/use%3E%3Cuse x='5269' y='4671' href='%23P9'%3E%3C/use%3E%3Cuse x='5870' y='302' href='%23P0'%3E%3C/use%3E%3Cuse x='5661' y='866' href='%23P1'%3E%3C/use%3E%3Cuse x='6048' y='1018' href='%23P9'%3E%3C/use%3E%3Cuse x='5820' y='1879' href='%23P1'%3E%3C/use%3E%3Cuse x='5673' y='2265' href='%23P10'%3E%3C/use%3E%3Cuse x='6132' y='2673' href='%23P6'%3E%3C/use%3E%3Cuse x='5948' y='3030' href='%23P4'%3E%3C/use%3E%3Cuse x='5930' y='3401' href='%23P7'%3E%3C/use%3E%3Cuse x='5701' y='4373' href='%23P2'%3E%3C/use%3E%3Cuse x='5987' y='4596' href='%23P10'%3E%3C/use%3E%3Cuse x='6412' y='378' href='%23P6'%3E%3C/use%3E%3Cuse x='6614' y='505' href='%23P0'%3E%3C/use%3E%3Cuse x='6500' y='1261' href='%23P9'%3E%3C/use%3E%3Cuse x='6189' y='1584' href='%23P10'%3E%3C/use%3E%3Cuse x='6326' y='2191' href='%23P1'%3E%3C/use%3E%3Cuse x='6492' y='2585' href='%23P6'%3E%3C/use%3E%3Cuse x='6530' y='3195' href='%23P3'%3E%3C/use%3E%3Cuse x='6612' y='3484' href='%23P5'%3E%3C/use%3E%3Cuse x='6518' y='4348' href='%23P4'%3E%3C/use%3E%3Cuse x='6261' y='4802' href='%23P3'%3E%3C/use%3E%3C/g%3E%3C/svg%3E");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}


#page{
    display: grid;
    /* max-width:800px; */
    width:100%;  
    height:100%;
    grid-template-areas: "header header"
                        "navigation main"
                        "footer footer";
    grid-template-rows: 50px 2fr 1fr;
    grid-template-columns: 270px 4.5fr;
}

.header{
    grid-area:header;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--primary-color);
    color:var(--ow-font-color);
    width:100% ;
   /* position:fixed; */
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 1.5rem;
}


.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav__menu{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.nav__item{
    margin-left:5rem;
}

.nav__link{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--ow-font-color);
    /* color:#f8edeb; */
}

.nav__link:hover{
    /* color: #482ff7; */
    color:var(--font-color);
    /* color:#c48347; */
}

.nav__logo {
    font-size: 2.1rem;
    font-weight: 500;
    /* color: var(--secondary-color); */
    color:var(--ow-font-color);
    /* color:#ffba08; */
}
.nav__logo:hover{
    color:var(--font-color);
}

.nav__item + .mobile__menu{
    display:none;
}

@media only screen and (max-width: 768px) {
    header{
        position: fixed;
    }
    .nav__menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color:var(--background-color);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
        z-index:1;
        height:100vh;
        overflow: auto;
    }
    .nav__link{
        color:var(--font-color);
    }
    .nav__link:hover{
        color:var(--primary-color);
    }
    .nav__menu::-webkit-scrollbar {
        display: none; /*Chrome, Safari and Opera */
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    .nav__item + .mobile__menu{
        display:inherit;
    }

    .nav__item + .desktop__menu{
        display:none;
    }

    .nav__menu.active {
        left: 0;
    }

    .nav__item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    /* .main{
        height:auto;
    } */
    .home__main{
        flex-wrap: wrap;
    }

}

@media only screen and (min-width: 768px) {
    .home__main{
        margin:5rem;
    }
}


main,footer{
    /* background-color: var(--background-color); */
    color:var(--font-color);
    background-color: #faebed;
}
.home__main{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:10rem;
}

.home__about{
    font-size: large;
    padding:1rem;
}

.home__about>.home__content,.outlined__button{
    margin:1rem;
}


.primary__button{
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1.5rem 1.1rem;
    padding:1rem;
    border-radius:5px;
    /* border:1px solid #fff5f7; */
    width:200px;
    color:var(--ow-font-color);
    cursor:pointer;
}

.primary__button:hover{
    color:var(--font-color);
}

a {
    color:var(--ow-font-color);
    outline: none;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  
.footer{
    /* background-color: #f8f9fa; */
    border-top:1px solid #9e9b9b;
    padding: 2rem;
    text-align:center;
    width:100%;
    height:100%;
}

.social__links{
    /* width:400px; */
    display:flex;
    justify-content:center;
    align-items: center;
}

.list__item__inline{
    padding:1rem;
}

.footer .link{
    color:white;
}

.footer ul{
    padding-inline-start:0px
}

.footer .footer__header{
    font-weight:bold;
    font-size:large;
}
#footer__icons{
    font-size:35px;
    color:var(--font-color);
    cursor: pointer;
}
#footer__icons:hover{
    color:var(--primary-color);
}
.footer  p{
    font-size: small;
}

