/* Button */
/* Contained Button */
.contained__button{
    display: flex;
    align-items: center;
}
.btn{
  padding:1rem;
  border-radius: 5px;
  margin-left:3rem;
  cursor:pointer;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.primary__button:hover {
  background-color: #a5031e;
}
.primary__button{
    width:80px;
    background-color: var(--primary-color);
    color:var(--ow-font-color);
    text-align: center;
}

.btn+.secondary__button{
    width:9.5rem;
}
.secondary__button:hover{
    background-color: #135ca4;
}
.secondary__button{
  background-color: var(--secondary-color);
  color:var(--ow-font-color);
  text-align: center;
}

/* outlined__button */
.outlined__button{
  display: flex;
  align-items: center;
}

.outlined__button>.primary__button{
  /* background-color: #fffdfd; */
  background-color: #fff5f7;
  color:var(--primary-color);
  border:2px solid var(--primary-color);
}
.outlined__button>.primary__button:hover{
    background-color:var(--primary-color);
    color:var(--ow-font-color);
}

.outlined__button>.secondary__button{
  background-color: #e2eafc;
  color:var(--secondary-color);
  border:2px solid var(--secondary-color);
}
.outlined__button>.secondary__button:hover{
    background-color: var(--secondary-color);
    color:var(--ow-font-color);
}


/* Links */
.links{
  display: flex;
  align-items:center;
}
.link{
  padding:1rem;
  border-radius: 5px; 
  margin-left:3rem;
  cursor:pointer;
}
.primary__link{
  width:80px;
  background-color: var(--primary-color);
  color:var(--ow-font-color);
  text-align: center;
}
.primary__link:hover {
  background-color: #a5031e;
}
.secondary__link{
  width:9.5rem;
  color:var(--ow-font-color);
  background-color:var(--secondary-color);
  text-align: center;
}
.secondary__link:hover{
  background-color: #135ca4;
}
/* floting action button */
.floating__action__button{
 width: 70px;
 height: 70px;
 background-color: var(--primary-color);
 border-radius: 50%;
 box-shadow: 0 6px 10px 0 #666;
 transition: all 0.1s ease-in-out;
 color:var(--ow-font-color);
 cursor:pointer;
 font-size: 20px;
 color: white;
 text-align: center;
 line-height: 70px;

 position: fixed;
 right: 50px;
 bottom: 50px;
 z-index: 1;
}

.floating__action__button:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.1);
  
}
