<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grab UI</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../grab-ui.css">
    <link rel="stylesheet" href="../Images/images.css">
</head>

<body>
    <section id="page">
        <header class="header">
            <nav class="navbar">
                <a href="/index.html" class="nav__logo">Grab UI</a>
                <ul class="nav__menu">
                    <li class="nav__item">
                        <a href="/index.html" class="nav__link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="../Avatar/avatar.html" class="nav__link">Components</a>
                    </li>
                    <li class="nav__item">
                        <a href="../get_started.html" class="nav__link">Get Started</a>
                    </li>
                    <li class="nav__item">
                        <a href="/index.html#contact" class="nav__link">Contact</a>
                    </li>
                </ul>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </nav>
        </header>
        <nav class="navigation" id="nav__components">
            <div class="nav__components">
                <a id="nav__components" class="nav_getStarted" href="../get_started.html">Get Started</a>
                <a id="nav__components" class="nav_avatar" href="../Avatar/avatar.html">Avatar</a>
                <a id="nav__components" class="nav__badge" href="../Badge/badge.html">Badge</a>
                <a id="nav__components" class="nav__alerts" href="../Alerts/alerts.html">Alerts</a>
                <a id="nav__components" class="nav__button" href="../Button/button.html">Button</a>
                <a id="nav__components" class="nav__cards" href="../Cards/cards.html">Cards</a>
                <a id="nav__components" class="nav__images" href="../Images/images.html">Images</a>
                <a id="nav__components" class="nav__modal" href="../Modal/modal.html">Modal</a>
            </div>
        </nav>
        <main class="main">
            <div class="main__components">
                <div class="components">
                    <h1 class="heading" id="comp__avatar">Responsive Images</h1>
                    <p class="para__lead">Images given below are responsive so that they can be accomodated properly in
                        screens of different sizes.
                    </p>
                    <p class="para">In order to see the live demo, you could expand or shrink your screen size.</p>
                    <h2 class="sub__heading">Responsive Card Image</h2>
                    <br />

                </div>
            </div>
        </main>
    </section>
</body>
<script src="/main.js"></script>

</html>