<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grab UI</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="grab-ui.css">
</head>
<body>
    <section id="page">
        <header class="header">
            <nav class="navbar">
                <a href="../index.html" class="nav__logo">Grab UI</a>
                <ul class="nav__menu">
                    <li class="nav__item">
                        <a href="../index.html" class="nav__link">Home</a>
                    </li>
                    <li class="nav__item desktop__menu">
                        <a href="./Avatar/avatar.html" class="nav__link">Components</a>
                    </li>
                    <li class="nav__item">
                        <a href="#get__started" class="nav__link">Get Started</a>
                    </li>
                    
                    <li class="nav__item mobile__menu">
                        <a href="./Avatar/avatar.html"
                        class="nav__link">Avatar</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a href="./Badge/badge.html" class="nav__link">Badge</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a href="./Alerts/alerts.html" class="nav__link">Alerts</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a class="nav__link" href="./Button/button.html">Button</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a class="nav__link" href="./Cards/cards.html">Cards</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a  class="nav__link" href="./Images/images.html">Images</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a   class="nav__link" href="./Inputs/input.html">Input</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a class="nav__link" href="./Lists/list.html">List</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a class="nav__link" href="./Navigation/navigation.html">Navigation</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a  class="nav__link" href="./Modal/modal.html">Modal</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a  class="nav__link" href="./Rating/rating.html">Rating</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a  class="nav__link" href="./Grid/grid.html">Grid</a>
                    </li>
                    <li class="nav__item mobile__menu">
                        <a  class="nav__link" href="./Typography/typography.html">Typography</a>
                    </li>
                    <li class="nav__item">
                        <a href="/index.html#contact" class="nav__link">Contact</a>
                    </li>
                </ul>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </nav>
        </header>
        <nav class="navigation" >
            <div class="nav__components" >
                <a id="nav__components" class="nav_getStarted" href="#get__started">Get Started</a>
                <a id="nav__components" class="nav_avatar" href="./Avatar/avatar.html">Avatar</a>
                <a id="nav__components" class="nav__badge" href="./Badge/badge.html">Badge</a>
                <a id="nav__components" class="nav__alerts" href="./Alerts/alerts.html">Alerts</a>
                <a id="nav__components" class="nav__button" href="./Button/button.html">Button</a>
                <a id="nav__components" class="nav__cards" href="./Cards/cards.html">Cards</a>
                <a id="nav__components"  class="nav__alerts" href="./Images/images.html">Images</a>
                <a id="nav__components"  class="nav__alerts" href="./Inputs/input.html">Input</a>
                <a id="nav__components"  class="nav__alerts" href="./Lists/list.html">List</a>
                <a id="nav__components"  class="nav__navigation" href="./Navigation/navigation.html">Navigation</a>
                <a id="nav__components"  class="nav__modal" href="./Modal/modal.html">Modal</a>
                <a id="nav__components"  class="nav__rating" href="./Rating/rating.html">Rating</a>
                <a id="nav__components"  class="nav__grids" href="./Grid/grid.html">Grid</a>
                <a id="nav__components"  class="nav__typography" href="./Typography/typography.html">Typography</a>
            </div>
        </nav>
        <main class="main">
            <div class="main__components">
               <div class="components" >
                    <div id="get__started">
                        <h1 class="heading">Getting Started</h1>
                        <h2 class="sub__heading">Introduction</h2>
                        <p class="para__lead">Get started with the Grab UI , the powerful framework for building responsive hassle-free sites. </p>
                        <br/>
                        <h2 class="sub__heading">CSS</h2>
                        <p class="para">Copy-paste the stylesheet <span class="code">&lt;link&gt;</span> into your <span class="code">&lt;head&gt;</span> before all other stylesheets to load our CSS.</p>
                        <br/>
                        <div class="code__container">
                            <iframe
                            src="https://carbon.now.sh/embed?bg=rgba%28196%2C210%2C221%2C1%29&t=night-owl&wt=sharp&l=htmlmixed&ds=true&dsyoff=20px&dsblur=54px&wc=true&wa=true&pv=4px&ph=3px&ln=false&fl=1&fm=Hack&fs=12.5px&lh=95%25&si=false&es=2x&wm=false&code=%253Clink%2520rel%253D%2522stylesheet%2522%2520href%253D%2522https%253A%252F%252Fgrab-ui.netlify.app%252Fcomponents%252Fgrab-ui.css%2522%253E"
                            style="width: 654px; height: 93px; border:0; transform: scale(1); overflow:hidden;"
                            sandbox="allow-scripts allow-same-origin">
                            </iframe>
                        </div>
                        <br/>
                        <br/>
                        <h2 class="sub__heading">Icons</h2>
                        <p class="para">In order to use the  Icons, you must first add the Font Awesome Icons. Here are some instructions on how to do so. </p>
                        <p class="para">Copy-paste the stylesheet <span class="code">&lt;link&gt;</span> into your <span class="code">&lt;head&gt;</span> tag.</p>
                        <br/>
                        <div class="code__container">
                            <iframe
                            src="https://carbon.now.sh/embed?bg=rgba%28196%2C210%2C221%2C1%29&t=night-owl&wt=sharp&l=htmlmixed&ds=true&dsyoff=20px&dsblur=54px&wc=true&wa=true&pv=4px&ph=3px&ln=false&fl=1&fm=Hack&fs=12.5px&lh=95%25&si=false&es=2x&wm=false&code=%253Clink%2520rel%253D%2522stylesheet%2522%2520href%253D%2522https%253A%252F%252Fcdnjs.cloudflare.com%252Fajax%252Flibs%252Ffont-awesome%252F4.7.0%252Fcss%252Ffont-awesome.min.css%2522%253E"
                            style="width: 654px; height: 93px; border:0; transform: scale(1); overflow:hidden;"
                            sandbox="allow-scripts allow-same-origin">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div> 
        </main>
    <!-- <footer class="footer"></footer> -->
</section>
</body>
<script src="JavaScript/modal.js"></script>
<script src="../main.js"></script>
</html>